html, body, #root, .app, .frame{
  border:none;
  margin:none;
  padding:none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.frame{
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-content: center;
  place-items: center;
}

.cards{
  display: grid;
  place-content: center;
  grid-auto-flow: column;
}

.scores{
  display:grid;
  place-content: center;
  grid-auto-flow: column;
  font-weight: bolder;
  font-size: 2rem;
  gap:3rem;
}
.greet{
  font-size: 2rem;
}
.won{
  color:Green;
}
.lose{
  color:red;
}
.end_screen{
  background-color: rgba(0, 0, 0, 0.8);
  color:white;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%; 
  backdrop-filter:blur(5px);
  position: absolute;
}
.card:hover{
  background-color: rgba(128, 128, 128, 0.8);
  color:white;
  font-weight: bolder;
}

.card{
  border-radius:1rem;
  padding:1rem;
  display: grid;
  place-items: center;
}

.footer{
  padding: 1rem;
}
